.header {
  height: 12vh;
  background-color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  width: 50vw;
}

.header li {
  margin: 0 0.2vw;
  text-align: center;
}
.logo-box {
  flex-grow: 1;
}
.logo {
  width: 20vh;
  margin: 1rem 4rem 0rem 6rem;
}

nav a {
  position: relative;
  color: #2a96af;
  text-decoration: none;
}

nav a:hover {
  color: #2a96af;
  font-weight: bold;
}

nav a:before {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: -10px;
  left: 12%;
  background-color: #2a96af;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
.login {
  width: 30px;
  align-self: flex-end;
  margin-right: 4vw;
}
.burger {
  display: none;
}

@media (max-width: 1200px) {
  .logo-box {
    flex-grow: 0;
  }
  .header ul {
    display: none;
  }
  .login {
    margin-left: 2vw;
  }
}
