.header {
  height: 7vw;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-right: 4vw;
  width: 50vw;
}

li {
  margin: 0 0.2vw;
  text-align: center;
}

img {
  width: 14vw;
  margin: 0 4vw;
}

nav a {
  position: relative;
  color: #2a96af;
  text-decoration: none;
}

nav a:hover {
  color: #2a96af;
  font-weight: bold;
}

nav a:before {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: -10px;
  left: 12%;
  background-color: #2a96af;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.burger {
  display: none;
}

@media (max-width: 1200px) {
  ul {
    display: none;
  }

  .burger {
    display: flex;
    justify-content: space-around;
    flex-flow: column nowrap;
    width: 2rem;
    height: 2rem;
  }

  .lineOpen {
    width: 2rem;
    height: 0.25rem;
    background-color: #2a96af;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }

  .lineOpen :nth-child(1) {
    transform: rotate(0);
  }

  .lineOpen :nth-child(2) {
    transform: translateX(0);
    opacity: 1;
  }

  .lineOpen :nth-child(3) {
    transform: rotate(0);
  }

  .lineClosed {
    width: 2rem;
    height: 0.25rem;
    background-color: #2a96af;
    border-radius: 10px;
    transform-origin: 1px;
    transition: all 0.3s linear;
  }

  .lineClosed :nth-child(1) {
    transform: rotate(45deg);
  }

  .lineClosed :nth-child(2) {
    transform: translateX(100%);
    opacity: 0;
  }

  .lineClosed :nth-child(3) {
    transform: rotate(-45deg);
  }
}
