.header {
  height: 7vw;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  margin-right: 4vw;
  width: 50vw;
}

li {
  margin: 0 0.2vw;
  text-align: center;
}

img {
  width: 14vw;
  margin: 0 4vw;
}
/*
nav a {
  text-decoration: none;
  color: #2a96af;
  font-size: 1.1em;
}

nav a:hover {
  font-weight: bold;
  padding-bottom: 1vh;
  border-bottom: solid 1px #2a96af;
  transition: all 0.5s linear;
}*/

nav a {
  position: relative;
  color: #2a96af;
  text-decoration: none;
}

nav a:hover {
  color: #2a96af;
  font-weight: bold;
}

nav a:before {
  content: '';
  position: absolute;
  width: 80%;
  height: 1px;
  bottom: -10px;
  left: 12%;
  background-color: #2a96af;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

nav a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
